@import 'https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap';
$blueish: #213F7D;
$font: 'Work Sans',
    sans-serif;
$bold-font: 500;
$regular-font: 400;
$extra-bold-font: 600;